In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})

In [3]:
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Age': [25, 30, 35]})

In [4]:
merged_df = pd.merge(df1, df2, on='ID', how='inner')

In [5]:
merged_df

   ID   Name  Age
0   1  Alice   25
1   2    Bob   30

In [9]:
df1.to_excel('id_name.xlsx', index=False)

In [11]:
df2.to_excel('id_age.xlsx', index=False)